.contact {
    width: 100%;
    padding: 5rem 0;
    border-bottom: 1px solid black;
}

.contactContainer {
    width: 100%;
}

.contactCardContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;

}

/*---------------Contact Left section-----*/

.contactImgContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 35%;
    height: 100%;
    padding: 1rem;
    background-image: linear-gradient(to right, #1e2024, #343535);
    border-radius: 10px;
    box-shadow: 5px 5px 10px #1e2024, -5px -5px 10px #343535;

}

.contactImgContainer img {
    width: 100%;
    height: 16rem;
    object-fit: cover;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

.contactData {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contactData h3 {
    font-size: 2.875rem;
    line-height: 2.25rem;
    font-weight: bold;
    color: #fa0068;
}

.contactData p {
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #ffffff;
}

.contactData .contactDes {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #9CA3AF;
}

.contactData .contactInfo {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #9CA3AF;
}

.contactData .contactInfo span {
    color: whitesmoke;
}

.contactLinkContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contactLinkContainer h2 {
    font-size: 1rem;
    font-weight: 100;
    color: rgb(187, 187, 187);
    margin-bottom: 1rem;
}

.contactIconContainer {
    display: flex;
    gap: 1rem;
}

.contactSocialIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    box-shadow: 5px 5px 10px #1c1e22, -5px -5px 10px #585858;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
}

.contactSocialIcon svg {
    font-size: 20px;
    color: #ffffff;
    transition: transform 0.3s;
}

.contactSocialIcon:hover {
    background-color: rgba(0, 0, 0, 0.40);
    transform: translateY(-0.25rem);
}

.contactSocialIcon:hover svg {
    color: #fa0068;
    transform: translateY(-0.25rem);
}

/*---------------Contact right section-----*/

.contactFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 60%;
    height: auto;
    padding: 1rem;
    background-image: linear-gradient(to right, #1e2024, #343535);
    border-radius: 10px;
    box-shadow: 5px 5px 10px #1e2024, -5px -5px 10px #343535;
}

.formContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.formSection {
    width: 100%;
    display: flex;
    gap: 2.5rem;
}

.formfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.formfield p {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #9CA3AF;
    text-transform: uppercase;
}

.contactInput {
    width: 100%;
    height: 3rem;
    border-radius: 0.5rem;
    border: none;
    border-bottom: 1px solid #4B5563;
    background-color: #191b1e;
    color: #9CA3AF;
    padding: 0 1rem;
    outline-color: transparent;
    transition: outline-color 0.3s ease, border-bottom 0.3s ease,transform 0.3s;
}

.contactInput:active,
.contactInput:hover,
.contactInput:focus-visible {
    outline: #fa0068 solid 2px;
    border-bottom: none;
    transform: translateY(-0.25rem);
    color:white;
}

.contactTextarea {
    width: 100%;
    border-radius: 0.5rem;
    border: none;
    border-bottom: 1px solid #4B5563;
    background-color: #191b1e;
    color: #9CA3AF;
    padding: 0.5rem 1rem;
    resize: none;
    outline-color: transparent;
    transition: outline-color 0.3s ease, border-bottom 0.3s ease,transform 0.3s;
}

.contactTextarea:active,
.contactTextarea:hover,
.contactTextarea:focus-visible {
    outline: #fa0068 solid 2px;
    border-bottom: none;
    transform: translateY(-0.25rem);
    color:white;
}

.contactButton {
    width: 100%;
    height: 3rem;
    font-size: 1rem;
    line-height: 1.5rem; 
    border-radius: 0.5rem;
    text-transform: uppercase;
    border: none;
    background-color: black;
    color: #9CA3AF;
    padding: 0 1rem;
    outline-color: transparent;
    transition: outline-color 0.3s ease, border-bottom 0.3s ease, color 0.3s ease, transform 0.3s;
}
.contactButton:hover {
    outline: #ffffff solid 2px;
    color: #fa0068;
    border-bottom: none;
    transform: translateY(-0.25rem);
}

.formContainer .errText{
    font-size: 10px;
    text-align: start;
    color: rgb(255, 46, 57);
    animation: bounce 1s infinite;
}
.formContainer .successText{
    padding: 0.7rem 0;
    font-size: 1rem;
    line-height: 1.5rem; 
    text-align: center;
    background-image: linear-gradient(to right #1e2024,#23272b);
    border-radius: 10px;
    box-shadow: 5px 5px 10px #1e2024, -5px -5px 10px #343535;
    color: rgb(25, 255, 121);
    animation: bounce 1s infinite;
}
@keyframes bounce {
    0%, 100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  } 

/*---------------responsive-----*/


@media (max-width: 575px) {
    .contactCardContainer{
        width: 100%;
        flex-direction: column;
        gap: 3rem;
    }
    .contactImgContainer,.contactFormContainer{
        width: 100%;
    }
    .contactData {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1rem;
    }
    .contactData h3 {
        font-size: 1.875rem;
        line-height: 1.25rem;
    }
    .contactData p, .contactInfo{
        width: 100%;
        text-align: center;
    }
    .contactLinkContainer{
        display: none;
    }
/*------------responsive right---------*/

.formSection{
    flex-direction: column;
    gap: 1.5rem;
}

}
